/*!
 * Main CSS file for template file.
 * Author: deniss9oo@gmail.com
 * default color: #f05f40
 */

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Pacifico';
    src: url("../fonts/Pacifico/Pacifico.ttf") format("truetype");
}

@font-face {
    font-family: 'Oxygen-Light';
    src: url("../fonts/Oxygen/Oxygen-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Oxygen-Regular';
    src: url("../fonts/Oxygen/Oxygen-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Oxygen-Bold';
    src: url("../fonts/Oxygen/Oxygen-Bold.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.page-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

/* PAGE HEADER SECTION
******************************/

.page-header-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 1px;
    margin-top: -1px;
    background: url("../img/header.jpg") no-repeat center center / cover;
    text-align: center;
}

/* Menu */
.header-content-top-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #754c78;
    border-bottom: 1px solid #fff;
    z-index: 99;
}

.header-content-top {
    width: 47.5%;
    height: 82px;
    box-sizing: border-box;
    padding: 12px 24px;
}

.header-content-top h1.logo {
    position: relative;
    margin-top: 4px;
    margin-bottom: 0;
    font-family: 'Oxygen-Bold', cursive;
    z-index: 9;
}

.header-content-top h1.logo a.logo-writting {
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: #fc0;
    -webkit-transition: border-color .4s ease;
            transition: border-color .4s ease;
}

.header-content-top h1.logo a.logo-writting:hover {
    border-bottom-color: #fc0;
}

.header-content-top h1.logo a.fa {
    display: none;
    text-decoration: none;
    font-size: 48px;
    color: #fc0;
}

@media screen and (max-width: 620px) {
    .header-content-top h1.logo {
        margin-top: 8px;
        font-size: 22px;
    }
}

@media screen and (max-width: 480px) {
    .header-content-top h1.logo {
        margin-top: 0;
    }

    .header-content-top h1.logo a.logo-writting {
        display: none;
    }

    .header-content-top h1.logo a.fa {
        display: block;
    }
}

.header-main-nav ul.nav-lm {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.header-main-nav ul.nav-lm li {
    display: inline-block;
    list-style: none;
    -webkit-transition: all .4s ease;
            transition: all .4s ease;
}

.header-main-nav ul.nav-lm li a {
    display: block;
    padding: 9px 15px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    font-weight: bold;
    color: #fc0;
    -webkit-transition: border-color .4s ease;
            transition: border-color .4s ease;
}

.header-main-nav ul.nav-lm li:hover a {
    border-bottom-color: #fc0;
}

.header-main-nav span.fa-bars {
    display: none;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #fc0;
    border-radius: 5px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 680px) {
    .header-content-top.right {
        position: absolute;
        float: none;
        top: 0;
        right: 0;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .header-main-nav {
        text-align: right;
    }

    .header-main-nav ul.nav-lm {
        position: relative;
        width: 100%;
        height: 0;
        margin-top: 25px;
        background-color: #754c78;
        text-align: center;
        overflow: hidden;
        opacity: 0;
        z-index: 7;
        -webkit-transition: all .4s ease;
                transition: all .4s ease;
    }

    .header-main-nav ul.nav-lm li {
        display: block;
        border-bottom: 1px solid #fff;
    }

    .header-main-nav span.fa-bars {
        display: inline-block;
        position: relative;
        margin-top: 6px;
        margin-right: 24px;
        color: #fc0;
        z-index: 9;
    }
}

/* Main header content */
.header-content-inner {
    position: absolute;
    top: 50%;
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px;
    margin-top: 105px;
    text-align: center;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

@media screen and (max-width: 680px) {
    .header-content-inner {
        position: static;
        top: 0;
        margin-top: 113px;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
}

.portfolio-logo {
    width: 200px;
    height: 200px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
    border-radius: 100%;
}

.portfolio-logo img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 100%;
}

.portfolio-sign {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
}

.portfolio-sign h2,
.portfolio-sign p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.portfolio-sign h2 {
    font-size: 28px;
}

.portfolio-sign p {
    font-size: 18px;
}

.get-started {
    width: 75px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    background-color: #754C78;
    border-radius: 5px;
}

.get-started:hover {
    background-color: #fc0;
}

.get-started a {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 16px;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 29px;
    color: #fc0;
    outline: none;
}

.get-started:hover a {
    color: #754c78;
}

.get-started a:visited {
    outline: none;
}


/* PAGE MAIN SECITON
******************************/

.page-main-content {
    width: 100%;
}

/* Layout Helpers */
.main-content-section {
    min-height: 352px;
}

.content-wrapper {
    width: 960px;
    box-sizing: border-box;
    padding-top: 28px;
    padding-bottom: 26px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1024px) {
    .content-wrapper {
        width: 768px;
    }
}

@media screen and (max-width: 880px) {
    .content-wrapper {
        width: 600px;
    }
}

@media screen and (max-width: 680px) {
    .content-wrapper {
        width: 100%;
    }
}

.content-wrapper h1 {
    position: relative;
    margin-top: 0;
    margin-bottom: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.content-wrapper h1:after {
    position: absolute;
    left: 50%;
    bottom: -22px;
    content: "";
    width: 100px;
    margin-left: -50px;
    border: 2px solid;
}

/* First section */
.main-content-section.content-section-first {
    background-color: #fefefe;
}

.about-it h1 {
    color: #7a7c7f;
}

.about-it h1:after {
    border-color: #7a7c7f;
}

.about-it-content {
    width: 48.5%;
    box-sizing: border-box;
}

.about-it-content.left {
    padding: 30px 48px;
}

.about-it-content.right {
    padding: 20px 48px;
}

@media screen and (max-width: 880px) {
    .about-it-content.left {
        text-align: right;
    }

    .about-it-content.right {
        text-align: left;
    }
}

@media screen and (max-width: 680px) {
    .about-it-content.left,
    .about-it-content.right {
        float: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .about-it-content .content-box h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.about-it-content .about-it-inner-wrapper {
    margin-bottom: 28px;
}

.about-it-content .content-inner {
    display: inline-block;
    vertical-align: top;
}

.about-it-content .icon-box {
    width: 29%;
}

.about-it-content .icon-box span.fa {
    font-size: 82px;
    color: #7a7c7f;
}

.about-it-content .content-box {
    width: 69%;
}

@media screen and (max-width: 880px) {
    .about-it .content-box {
        width: 100%;
    }
}

.about-it-content .content-box h2 {
    margin-bottom: 21px;
    margin-top: 22px;
    color: #7a7c7f;
}

.about-it-content.left .content-box h2 {
    margin-top: 18px;
}

.about-it-content .content-box p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    color: #7a7c7f;
}

/* Second section */
.main-content-section.content-section-second {
    padding-top: 24px;
    padding-bottom: 36px;
    background-color: rgba(117, 76, 120, 0.65);
}

.about-it-more h1 {
    color: #fff;
}

.about-it-more h1:after {
    border-color: #fff;
}

.about-it-more-content {
    text-align: center;
    color: #fff;
}

.about-it-more-content span.fa {
    font-size: 102px;
}

.about-it-more-inner {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.about-it-more-inner li {
    margin-bottom: 18px;
    list-style: none;
    font-size: 24px;
}

.about-it-more-inner li span.fa {
    margin-right: 16px;
    font-size: 30px;
}

@media screen and (max-width: 880px) {
    .about-it-more-inner li {
        font-size: 16px;
    }

    .about-it-more-inner li span.fa {
        font-size: 26px;
    }
}

@media screen and (max-width: 680px) {
    .about-it-more-inner li {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .about-it-more-inner li span.fa {
        margin-right: 0;
        font-size: 18px;
    }
}

.about-it-more footer {
    clear: both;
    box-sizing: border-box;
    padding: 30px 48px;
    text-align: center;
    color: #fff;
}

.about-it-more footer p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Third section */
.main-content-section.content-section-third {
    position: relative;
    background: rgba(255, 255, 255, .85) url("../img/section-bg-sample1.jpg") no-repeat center center / cover fixed;
}

.main-content-section.content-section-third .content-wrapper {
    padding-top: 36px;
}

.contact-box-wrapper h1 {
    margin-bottom: 19px;
    color: #754c78;
}

.contact-box-wrapper h1:after {
    border-color: #754c78;
}

.contact-data-box {
    text-align: right;
    color: #754c78;
}

.contact-data-box.vcard {
    /* Small fix to align text with icon on right */
    padding-top: 38px;
}

.contact-data-box p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.15;
    font-size: 22px;
    font-weight: bold;
}

.contact-form {
    color: #754c78;
}

.contact-form span.fa {
    padding-top: 14px;
    font-size: 102px;
    cursor: pointer;
}

.contact-form form.form-box {
    width: 100%;
    margin-bottom: 24px;
}

.contact-form form.form-box label {
    display: block;
    font-weight: bold;
    cursor: pointer;
}

.contact-form form.form-box input {
    margin-bottom: 6px;
    border: 1px solid #754c78;
    border-radius: 5px;
}

.contact-form form.form-box input:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .15);
}

.contact-form form.form-box select {
    margin-bottom: 24px;
    background-color: #fff;
    border: 1px solid #754C78;
    border-radius: 5px;
}

.contact-form form.form-box textarea {
    height: 125px;
    margin-bottom: 24px;
    border: 1px solid #754c78;
    border-radius: 5px;
}

.contact-form form.form-box textarea:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .15);
}

.contact-form form.form-box .loader-box {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    text-align: center;
}

.contact-form form.form-box i.fa-spinner {
    font-size: 42px;
}

.contact-form form.form-box button {
    display: block;
    width: 85px;
    height: 45px;
    background-color: #fefefe;
    border: 1px solid #754c78;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color .4s ease, color .4s ease;
}

.contact-form form.form-box button:hover {
    background-color: #754c78;
    color: #fff;
}

.contact-form form.form-box button:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .25);
}

@media screen and (max-width: 680px) {
    .contact-form form.form-box button {
        margin-left: auto;
        margin-right: auto;
    }
}

.contact-form .alert {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 48px;
    border-radius: 5px;
    text-align: center;
}

.contact-form .alert.green {
    background-color: rgba(93, 185, 93, .65);
    border: 1px solid #5db95d;
}

.contact-form .alert.red {
    background-color: rgba(221, 80, 75, .65);
    border: 1px solid #dd504b;
}

.contact-form .alert p {
    line-height: 1.215;
    color: #fff;
}

@media screen and (max-width: 680px) {
    .contact-form .alert {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 480px) {
    .contact-form .alert {
        width: 250px;
    }
}

/* Maps */
.maps-box {
    width: 100%;
    height: 450px;
}


/* PAGE MAIN FOOTER
******************************/

.page-footer-wrapper {
    background-color: rgba(72, 73, 77, 0.35);
    border-top: 5px solid rgb(72, 73, 77);
}

.page-footer-wrapper .social-box-wrapper {
    text-align: center;
}

.page-footer-wrapper .social-box-wrapper a.fa {
    display: inline-block;
    padding: 5px;
    margin-bottom: 6px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    font-size: 32px;
    color: rgb(72, 73, 77);
    -webkit-transition: border-color .4s ease;
            transition: border-color .4s ease;
}

.page-footer-wrapper .social-box-wrapper a.fa:hover {
    border-bottom-color: rgb(72, 73, 77);
}

.page-footer-wrapper .page-author-sign {
    text-align: center;
}

.page-footer-wrapper .page-author-sign small {
    color: #754c78;
}

.page-footer-wrapper .page-author-sign small a {
    border: 1px solid transparent;
    text-decoration: none;
    color: #7a7c7f;
    transition: border-bottom-color .4s ease;
}

.page-footer-wrapper .page-author-sign small a:hover {
    border-bottom-color: #7a7c7f;
}


/* ANIMATIONS SECITON
******************************/

.animation-navigation-scrolldown {
    height: auto !important;
    overflow: visible !important;
}


/* TOOLS SECTION
******************************/

.disabled {
    display: none !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.active {
    opacity: 1 !important;
}

.unactive {
    opacity: 0;
}

.field-alert {
    border: 1px solid #b94a48 !important;
}

.overlay-white {
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
}

.copy-ready-std {
    box-sizing: border-box;
    padding: 24px 48px;
}

.form-elements {
    width: 250px;
    padding: 6px;
}